{% extends 'templates/glued.twig' %}

{% block content %}

<div class="title-block">
    <h3 class="title"> ACL Crossroads </h3>
    <p class="title-description"> Everything for ACL administration. </p>
</div>

<section class="section">
    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Přehled uživatelů (role user) </h3>
                </div>
                {{ vystup_users | raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Přehled skupin (role group) </h3>
                </div>
                {{ vystup_groups | raw }}
            </div>
        </div>
        
    </div>
</section>


<section class="section">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Privilegia pro ostatní role (self, creator, ...) </h3>
                </div>
                <p><a href="{{ path_for('acl.roleprivileges') }}">role privileges</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Editace tabulky t_implemented_action </h3>
                </div>
                <p>přiřazení akcí z t_action objektům (ma smysl jen az pouzijeme statusy), TODO</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Přehled tabulek a kdo na ně má práva </h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Table privileges</th>
                            <th>Global privileges</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">platby_mzdy</th>
                            <td><a href="tableprivileges/platby_mzdy">view</a></td>
                            <td><a href="globalprivileges/platby_mzdy">view</a></td>
                        </tr>
                        <tr>
                            <th scope="row">timepixels</th>
                            <td><a href="tableprivileges/timepixels">view</a></td>
                            <td><a href="globalprivileges/timepixels">view</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</section>


<section class="section">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> object and global actions </h3>
                </div>
                {{ vystup_actions.object | raw }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> table actions </h3>
                </div>
                {{ vystup_actions.table | raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> add new action </h3>
                </div>
                
                <form role="form" action="{{ path_for('acl.crossroad') }}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name of Action</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter name of action" type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Applying on what?</label>
                        <div>
                            <label>
                                <input class="radio" name="apply_object" type="radio" value="1" checked>
                                <span>Apply on object</span>
                            </label>
                            <label>
                                <input class="radio" name="apply_object" type="radio" value="0">
                                <span>Apply on table</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    
                    {{ csrf.field | raw  }}
                </form>
                
            </div>
        </div>
        
    </div>
</section>


<section class="section">
    <div class="row">
        
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Přehled permissions (hardcodované) </h3>
                </div>
                {{ vystup_hardcoded_permissions | raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Přehled groups (hardcodované) </h3>
                </div>
                {{ vystup_hardcoded_groups | raw }}
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
