{% extends 'templates/glued.twig' %}

{% block content %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Change Groups Membership of user {{ user.c_screenname }} (id: {{ user.c_uid }}) [<a href="{{ path_for('acl.crossroad') }}">go back</a>]</div>
        <div class="panel-body">

          <form action="{{ path_for('acl.update.membership') }}" method="post">
            
            <input type="hidden" name="user_id" value="{{ user.c_uid }}" />
            
            <div class="form-group">
              
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="chb_root" value="1" {{ membership.root? 'checked':'' }}> Root (top level human)
                </label>
              </div>
                
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="chb_officer" value="2" {{ membership.officer? 'checked':'' }}> Officer (mid level human)
                </label>
              </div>
                
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="chb_user" value="4" {{ membership.user? 'checked':'' }}> User (low level human)
                </label>
              </div>
                
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="chb_wheel" value="8" {{ membership.wheel? 'checked':'' }}> Wheel (api, program)
                </label>
              </div>
                
            </div>

            <button type="submit" class="btn btn-default">Set this membership</button>
            {{ csrf.field | raw  }}
          </form>

         </div>
        </div>
      </div>
   </div>

{% endblock %}
