{% extends 'templates/glued.twig' %}

{% block content %}

<div class="title-block">
    <h3 class="title"> Unixperms </h3>
    <p class="title-description"> Change Unixperms column of user {{ user.c_screenname }} (id: {{ user.c_uid }}) <a class="pull-right" href="{{ path_for('acl.crossroad') }}">go back</a> </p>
</div>


<section class="section">
    <div class="row">
        
        <div class="col-md-12">
            <div class="card card-block">
                <div class="title-block">
                    <h3 class="title"> Has Perms </h3>
                </div>
                
                <form role="form" action="{{ path_for('acl.update.userunix') }}" method="post">
                    <input type="hidden" name="user_id" value="{{ user.c_uid }}" />
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="owner_read" value="256" {{ permissions.owner_read? 'checked="checked"':'' }}>
                                        <span>Owner read</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="owner_write" value="128" {{ permissions.owner_write? 'checked="checked"':'' }}>
                                        <span>Owner write</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="owner_delete" value="64" {{ permissions.owner_delete? 'checked="checked"':'' }}>
                                        <span>Owner delete</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="group_read" value="32" {{ permissions.group_read? 'checked="checked"':'' }}>
                                        <span>Group read</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="group_write" value="16" {{ permissions.group_write? 'checked="checked"':'' }}>
                                        <span>Group write</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="group_delete" value="8" {{ permissions.group_delete? 'checked="checked"':'' }}>
                                        <span>Group delete</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="other_read" value="4" {{ permissions.other_read? 'checked="checked"':'' }}>
                                        <span>Other read</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="other_write" value="2" {{ permissions.other_write? 'checked="checked"':'' }}>
                                        <span>Other write</span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input class="checkbox" type="checkbox" name="other_delete" value="1" {{ permissions.other_delete? 'checked="checked"':'' }}>
                                        <span>Other delete</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Set this Unixperms</button>
                    </div>
                    
                    {{ csrf.field | raw  }}
                </form>
                
            </div>
        </div>
        
    </div>
</section>

{% endblock %}
