
{% if json_schema_output is defined %}
    
    <script type="text/javascript" src="{{ base_url() }}/js/babel.js"></script>
    
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    
    <script src="https://unpkg.com/react-jsonschema-form@1.0.3/dist/react-jsonschema-form.js"></script>
    

    
    <style type="text/css">
    ul.list-inline li {
        display: inline-block;
        margin-right: 10px;
    }
    ul.list-inline li a.btn {
        display: block;
        height: calc(2.25rem + 2px);
    }
    .btn-add {
        width: 80px;
        margin-top: 15px;
    }
    /* nahrazeni contentu tlacitek */
    .btn-add i, .array-item-remove i, .array-item-move-up i, .array-item-move-down i {
        display: none;
    }
    .btn-add:after {
        content: "Add";
    }
    .array-item-remove:after {
        content: "Delete";
    }
    .array-item-move-up:after {
        content: "Up";
    }
    .array-item-move-down:after {
        content: "Down";
    }
    </style>
    
    
  <title>json schema template</title>

<!-- jednodussi json schema -->

<script type="text/babel">
const Form = JSONSchemaForm.default;

const uiSchema = {{ json_uischema_output | raw }};

const schema = {{ json_schema_output | raw }};

const formData = {{ json_formdata_output | raw }};


function onSubmit(formData) {
    {{ json_onsubmit_output | raw }}
}

function onChange(formData) { }

ReactDOM.render((<Form onChange={onChange} onSubmit={onSubmit} uiSchema={uiSchema} schema={schema} formData={formData}></Form>),
    document.getElementById("main"),
    function () {
        nas_hack();
      }
    );

</script>




<!-- input mask pripojena a pouzita mimo babel a react -->

<script type="text/javascript" src="https://japex.vaizard.xyz/npmtest/node_modules/vanilla-text-mask/dist/vanillaTextMask.js"></script>
<script type="text/javascript">

// definice jedne masky
var phoneMask = ['(', /[1-9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/];

// toto musime dat do ready, protoze ten prvek tam jeste neni
document.addEventListener("DOMContentLoaded", function(event) {
          // Assuming you have an input element in your HTML with the class .myInput
          var myInput = document.querySelector('.test_vanilla');

          var maskedInputController = vanillaTextMask.maskInput({
            inputElement: myInput,
            mask: phoneMask
          });
});

// nase funkce, kterou volame jako callback po vygenerovani json schema formu
function nas_hack () {
    var myInput2 = document.querySelector('#root_data_owner');  // zacileni json schema inputu
    var maskedInputController2 = vanillaTextMask.maskInput({
        inputElement: myInput2,
        mask: phoneMask
    });
    
    
}


</script>



{% endif %}