
<div class="modal fade" id="aclpage-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {% if related_table is defined %}
                    <h4 class="modal-title">ACL privileges for table {{ related_table }}</h4>
                {% else %}
                    <h4 class="modal-title">ACL privileges for this page</h4>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body modal-tab-container">
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#existing_table" data-toggle="tab" role="tab">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#existing_global" data-toggle="tab" role="tab">Global</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#new_privilege" data-toggle="tab" role="tab">New</a>
                    </li>
                </ul>
                <div class="tab-content modal-tab-content">
                    <div class="tab-pane active in" id="existing_table" role="tabpanel">
                        {% if modal_acl_table is defined %}
                            {{ modal_acl_table | raw }}
                        {% else %}
                            <p>sorry, no editable acl for this page ... yet</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="existing_global" role="tabpanel">
                        {% if modal_acl_global is defined %}
                            {{ modal_acl_global | raw }}
                        {% else %}
                            <p>sorry, no editable acl for this page ... yet</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="new_privilege" role="tabpanel">
                        {% if related_table is defined %}
                            
                        <form action="{{ path_for('acl.new.privilege') }}" method="post">
                            <input type="hidden" name="formpage" value="modal" />
                            <input type="hidden" name="return_modal_form_uri" value="{{ return_modal_form_uri }}" />
                            
                          <div class="form-group">
                            <label for="polozka10">Role</label>
                            <select name="role" class="form-control" id="polozka10">
                                <option value="user" selected>user</option>
                                <option value="group">group</option>
                                <option value="creator">creator</option>
                            </select>
                          </div>
                            
                          <div class="form-group">
                            <label for="polozka11">Who id (for user or group)</label>
                            <input type="text" name="who" class="form-control" id="polozka11" />
                          </div>
                            
                          <div class="form-group">
                            <label for="polozka1">Action</label>
                            <select name="action" class="form-control" id="polozka1">
                                {{ action_options | raw }}
                            </select>
                          </div>
                            
                          <div class="form-group">
                            <label for="polozka2">Type</label>
                            <select name="type" class="form-control" id="polozka2">
                                <option value="table" selected>table</option>
                                <option value="global">every row</option>
                                <option value="object">one row</option>
                            </select>
                          </div>
                            
                            <input type="hidden" name="related_table" value="{{ related_table }}" />
                            
                          <div class="form-group">
                            <label for="polozka4">Related id (for one row type)</label>
                            <input type="text" name="related_uid" class="form-control" id="polozka4" />
                          </div>
                            
                          <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" name="neg" value="1" /> Negative privilege
                                </label>
                              </div>
                          </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Create privilege</button>
                            </div>
                            
                            {{ csrf.field | raw  }}
                        </form>
                            
                        {% else %}
                            <p>sorry, no add form for this page ... yet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-media">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Media Library</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body modal-tab-container">
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                    </li>
                </ul>
                <div class="tab-content modal-tab-content">
                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                        <div class="images-container">
                            <div class="row"> </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                        <div class="upload-container">
                            <div id="dropzone">
                                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                    <div class="dz-message-block">
                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Insert Selected</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
