
<nav class="menu">
    <ul class="sidebar-menu metismenu" id="sidebar-menu">
        <li{% if ui_menu_active == "home" %} class="active"{% endif %}><a href="{{ path_for('home') }}"><i class="fa fa-home"></i> Home</a></li>
  {% if auth.check %}
                <li{% if ui_menu_active == "permissions.my" %} class="active"{% endif %}><a href="{{ path_for('acl.my') }}"><i class="fa fa-lock"></i> Permissions</a></li>
                <li{% if (ui_menu_active == "assets" or ui_menu_active == "consumables" or ui_menu_active == "parts") %} class="active open"{% endif %}>
                    <a href="" aria-expanded="false">
                        <i class="fa fa-area-chart"></i> Inventory
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav collapse" aria-expanded="false">
                        <li{% if ui_menu_active == "assets" %} class="active"{% endif %}><a href="{{ path_for('assets.gui') }}"><i class="fa fa-qrcode"></i> Assets</a></li>
                        <li{% if ui_menu_active == "consumables" %} class="active"{% endif %}><a href="{{ path_for('consumables.gui') }}"><i class="fa fa-qrcode"></i> Consumables</a></li>
                        <li{% if ui_menu_active == "parts" %} class="active"{% endif %}><a href="{{ path_for('parts.gui') }}"><i class="fa fa-qrcode"></i> Parts</a></li>
                    </ul>
                </li>
                <li{% if (ui_menu_active == "accounting.costs" or ui_menu_active == "playground.o2" or ui_menu_active == "playground.platby") %} class="active open"{% endif %}>
                    <a href="" aria-expanded="false">
                        <i class="fa fa-area-chart"></i> Accounting
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav collapse" aria-expanded="false">
                        <li{% if ui_menu_active == "playground.o2" %} class="active"{% endif %}><a href="{{ path_for('o2gui') }}"><i class="fa fa-bar-chart-o"></i> Analýza faktur</a></li>
                        <li{% if ui_menu_active == "playground.platby" %} class="active"{% endif %}><a href="{{ path_for('platbylist') }}"><i class="fa fa-money"></i> Generování plateb</a></li>
                        <li{% if ui_menu_active == "accounting.costs" %} class="active"{% endif %}><a href="{{ path_for('accounting.costs') }}"><i class="fa fa-book"></i> Účtenky</a></li>
                    </ul>
                </li>
                <li{% if ui_menu_active == "stor.uploader" %} class="active"{% endif %}><a href="{{ path_for('stor.uploader') }}"><i class="fa fa-cloud"></i> Stor Uploader</a></li>
                <li{% if ui_menu_active == "stor.browser" %} class="active"{% endif %}><a href="{{ path_for('stor.browser') }}"><i class="fa fa-cloud"></i> Stor Browser</a></li>
                <li{% if ui_menu_active == "importdata" %} class="active"{% endif %}><a href="{{ path_for('import.data.step1') }}"><i class="fa fa-cloud"></i> Import Data</a></li>
                <li{% if ui_menu_active == "fbevents" %} class="active"{% endif %}><a href="{{ path_for('fbevents.main') }}"><i class="fa fa-cloud"></i> FB Events</a></li>
                <li{% if ui_menu_active == "gevents" %} class="active"{% endif %}><a href="{{ path_for('gevents.main') }}"><i class="fa fa-cloud"></i> G Events</a></li>
                <li{% if ui_menu_active == "vectors" %} class="active"{% endif %}><a href="{{ path_for('vectors.main') }}"><i class="fa fa-cloud"></i> Vectors</a></li>
                <li{% if ui_menu_active == "wiki" %} class="active"{% endif %}><a href="{{ path_for('wiki.admin') }}"><i class="fa fa-cloud"></i> Wiki admin</a></li>
                <li{% if ui_menu_active == "contacts" %} class="active"{% endif %}><a href="{{ path_for('contacts.main') }}"><i class="fa fa-cloud"></i> Contacts</a></li>
                {% if auth.root %}
                    <li>
                        <a href="" aria-expanded="false">
                            <i class="fa fa-area-chart"></i> Developers
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav collapse" aria-expanded="false">
                            <li><a href="{{ path_for('barcode.code') }}"><i class="fa fa-qrcode"></i> Barcode</a></li>
                            <li><a href="{{ path_for('sdkindustry') }}"><i class="fa fa-gears"></i> Test Eventu FB</a></li>
                            <li><a href="{{ path_for('test.output1') }}"><i class="fa fa-gears"></i> Test output</a></li>
                            <li><a href="{{ path_for('development.tools') }}"><i class="fa fa-gears"></i> Development Tools</a></li>
                        </ul>
                    </li>
                {% endif %}
  {% else %}
           <li><a href="{{ path_for('auth.signup') }}"><i class="fa fa-pencil-square-o"></i> Sign up</a></li>
           <li><a href="{{ path_for('auth.signin') }}"><i class="fa fa-sign-in"></i> Sign in</a></li>
  {% endif %}
    </ul>
</nav>