{% extends 'templates/glued.twig' %}

{% block content %}

<section class="section">
    <div class="row sameheight-container justify-content-md-center">
        <div class="col col-12 col-sm-12 col-md-6 col-xl-6 stats-col">
            <div class="card">
                <div class="card-block">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            <div class="logo">
                                <span class="l l1"></span>
                                <span class="l l2"></span>
                                <span class="l l3"></span>
                                <span class="l l4"></span>
                                <span class="l l5"></span>
                            </div> ModularAdmin </h1>
                    </header>
                    <div class="auth-content">
                        <p class="text-center">LOGIN TO CONTINUE</p>
                        <form id="" action="{{ path_for('auth.signin') }}" method="post" novalidate="">
                            <div class="form-group{{ validationerrors.email ? ' has-error' : ''}}">
                                <label for="username">Email</label>
                                <input type="email" class="form-control underlined" name="email" id="email" placeholder="Enter email address" value="{{ old.email }}" required>
                                  {% if validationerrors.email %}
                                    <span class="help-block">{{ validationerrors.email | first }}</span>
                                  {% endif %}
                            </div>
                            <div class="form-group{{ validationerrors.password ? ' has-error' : ''}}">
                                <label for="password">Password</label>
                                <input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required>
                                  {% if validationerrors.password %}
                                    <span class="help-block">{{ validationerrors.password | first }}</span>
                                  {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="remember">
                                    <input class="checkbox" id="remember" type="checkbox">
                                    <span>Remember me</span>
                                </label>
                                <a href="reset.html" class="forgot-btn pull-right">Forgot password?</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary">Login</button>
                            </div>
                            <div class="form-group">
                                <p class="text-muted text-center">Do not have an account?
                                    <a href="{{ path_for('auth.signup') }}">Sign Up!</a>
                                </p>
                            </div>
                            {{ csrf.field | raw  }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
