<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Glued</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ public_path }}/dashboard/css/vendor.css">
        <link rel="stylesheet" href="{{ public_path }}/dashboard/css/app.css">
        <link rel="stylesheet" href="{{ public_path }}/css/glued.css">
        <link rel="stylesheet" href="{{ public_path }}/css/floating-labels.css">
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
        
    <title>Glued</title>
    
    {% include 'templates/partials/jsonschema.twig' %}
    
  </head>
  
  <body>
        <div class="main-wrapper">
            <div class="app" id="app">
                
                <header class="header">
                    <div class="header-block header-block-collapse d-lg-none d-xl-none">
                        <button class="collapse-btn" id="sidebar-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="header-block header-block-search">
                        <form role="search">
                            <div class="input-container">
                                <i class="fa fa-search"></i>
                                <input type="search" placeholder="Search">
                                <div class="underline"></div>
                            </div>
                        </form>
                    </div>
                    {% include 'templates/partials/pagesettings.twig' %}
                    {% include 'templates/partials/usericon.twig' %}
                </header>
                
                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                <div class="logo">
                                    <span class="l l1"></span>
                                    <span class="l l2"></span>
                                    <span class="l l3"></span>
                                    <span class="l l4"></span>
                                    <span class="l l5"></span>
                                </div> Glued </div>
                        </div>
                        {% include 'templates/partials/navigation.twig' %}
                    </div>
                </aside>
                
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
                <div class="mobile-menu-handle"></div>
                
                <article class="content {{ article_class }}">
                    {% include 'templates/partials/flash.twig' %}
                    {% block content %}{% endblock %}
                </article>
                
                <footer class="footer">
                    <div class="footer-block author">
                        <ul>
                            <li>Created by
                                <a href="https://terminus.foundation/">Terminus</a>
                            </li>
                            <li>
                                <a href="https://industra.space/">Get in touch</a>
                            </li>
                        </ul>
                    </div>
                </footer>
                
                {% include 'templates/partials/modalpopup.twig' %}
            </div><!-- app -->
        </div><!-- main-wrapper -->
        
        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>
        <script src="{{ public_path }}/dashboard/js/vendor.js"></script>
        <script src="{{ public_path }}/dashboard/js/app.js"></script>
        <script src="{{ public_path }}/js/system.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js"></script>
        
        <script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
        
        {% if additional_javascript is defined %}
        {{ additional_javascript | raw }}
        {% endif %}
        
  </body>
</html>